/*Все селекторы*/
.page, .header, .description, .feynman, .kaufman, .footer, .logo, .logo_place_header, .header__title, 
.header__square-pic, .header__subtitle, .two-columns, .two-columns__brief, .two-columns__main-text, 
.two-columns__paragraph, .two-columns__span-accent, .digits, .section-title, .section-subtitle, .table, 
.table__cell, .table__heading, .table__text, .feynman__title, .feynman__subtitle, .feynman__link, .footer__columns, 
.footer__column, .footer__column_content_copyright, .logo_place_footer, .footer__author, .footer__column_content_info, 
.footer__column-heading, .footer__column-links, .footer__columns_content_social, .footer__column-link, .ul {
 padding: 0;
}

/*Body*/
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
 }

.header {
  /*Блок*/
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}

/*Логотип*/
.logo {
  height: 32px;
  width: 228px;
}

/*Текст логотипа*/
.logo_place_header {
  margin: 30px 0 0 64px;
  font-size: 25px;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
}

/*Научится учится*/
.header__title {
  align-self: center;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  color: #000;
  width: 400px;
  z-index: 3;
}

/*Текст снизу*/
.header__subtitle {
  z-index: 3;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

/*Ссылка*/
.header__link {
  text-decoration: none;
}

/*Опять двойка*/
.header__main-illustration {
  height: 608px;
  width: 765px;
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*квадрат*/
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  margin-top: 64px;
  z-index: 1;
}

/*Блок*/
.description {
  display: grid;
  margin-top: 100px;
} 

/*Общий блок*/
.two-columns {
  width: 80%;
  margin-top: 100px;
  display: flex;
  justify-self: center;
  justify-content: space-between; 
} 

/*1 колонка*/
.two-columns__brief {
  width: 175px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  text-decoration: none;
} 

/*2 колонка*/
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
} 

/*Параграф*/
.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
} 

/*Параграф 1*/
.two-columns__paragraph_top {
  margin-top: 0;
} 

/*Параграф 3*/
.two-columns__paragraph_bottom {
  margin-bottom: 0;
} 

/*Вывод*/
.two-columns__span-accent {
  font-weight: 600;
} 

/*Блок*/
.digits {
  display: grid;
  margin-top: 100px;
} 

/*Цифры и факты*/
.section-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  margin: 100px auto 20px;
} 

/*Про учебу и мозг*/
.section-subtitle {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
} 

/*Общий блок для карточек*/
.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-self: center;
} 

/*Карточка*/
.table__cell {
  flex-wrap: wrap;
  display: flex;
  align-self: start;
  width: 250px;
  margin-top: 60px;
} 

/*Заголовок в карточке*/
.table__heading {
  margin: 0 0 20px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  height: 26px; 
} 

/*Текст карточки*/
.table__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal; 
} 
/*Текст афориста*/
.table__text_bottom {
  margin-top: 20px;
}

/*Блок*/
.feynman {
 background-color: #f2f2f2;
 display: flex;
 margin-top: 100px;
 min-height: 890px;
 flex-direction: column;
 position: relative;
}

/*Метод Фейнмана*/
.feynman__title {
  z-index: 2;
  position: relative;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 100px auto 0;
  width: 648px;
  text-align: center;
}

/*Выучить и не забыть*/
.feynman__subtitle {
  z-index: 2;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0;
  text-align: center; 
}

/*Подробнее*/
.feynman__link {
  margin-right: 48px;
  z-index: 2;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  align-self: end;
  position: absolute;
  top: 50%;
  text-decoration: none;
}

/*Изображение Фейнмана*/
.feynman__image {
  position: absolute;
  z-index: 1;
  margin: 0;
  bottom: 0;
  left: 0;
}

/*Блок*/
.kaufman {
background-color: #1f1f1f;
display: grid;
overflow: hidden;
z-index: -2;
position: relative;
} 

/*Принципы обучения*/
.section-title_theme_dark {
  margin: 90px auto 20px;
  color: white;
  z-index: 1;
  position: relative;
} 

/*от Джоша Кауфмана*/
.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
  position: relative;
} 

/*Общий блок для карточек*/
.table_theme_dark {
 margin-bottom: 90px;
} 

/*Карточка*/
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
} 

/*Заголовок в карточке*/
.table__heading_theme_dark {
  color: white;
  z-index: 1;
  position: relative;
} 

/*Текст карточки*/
.table__text_theme_dark {
  color: white;
  z-index: 1;
  position: relative;
} 

/*Треугольник*/
.kaufman__triangle {
  position: absolute;
  right: -210px;
  margin-top: -210px;
  z-index: -1;
  width: 877px;
  height: 877px;
}
 
/*Блок*/
.footer {
  display: grid;
  background-color: #1f1f1f;
  min-height: 350px;
}

/*Общий блок*/
.footer__columns {
  align-self: center;
  margin-bottom: 40px;
  margin-top: 60px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-between;
  min-height: 250px;
}

/*1, 2, 3 колонки*/
.footer__column {
  display: flex;
  margin: 0;
}

/*1 колонка*/
.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
  flex-direction: column;
}

/*Текст логотипа*/
.logo_place_footer {
  margin: 0;
}

/*Виктор Абанькин*/
.footer__author {
  margin-bottom: 18px;
  margin-left: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

/*2 колонка*/
.footer__column_content_info {
  flex-direction: column;
}

/*О Практикуме/Соцсети*/
.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

/*Убираем отступы слева в браузере IE и Opera и Firefox, Safari, Chrome*/
.ul {
  margin: 0;
}

/* Убираем маркеры */
.li {
  list-style-type: none;
}

/*Главная Концепция Наставники/ ютуб вк тикток*/
.footer__column-links {
  margin: 0 0 10px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

/*3 колонка*/
.footer__column_content_social {
  flex-direction: column;
}

/*Блок месенджеров*/
.footer__column-link {
  margin: 0 0 16px;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*Иконки*/
.footer__column-icon {
  margin: 0;
  width: 16px;
  height: 16px;
}
