/*Анимация поворота*/
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}

.rotation {
  animation-name: rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
